# Pandas on NUMPY

In [1]:
# Pandas have High-Level Data Structures
# You can manipulate Pandas Data with SciPy and NumPy

# Let's Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Load Data By .DataFrame()

In [10]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [25]:
df = pd.DataFrame(
    [
        ['Jan', 50, 52, 74, 22, 2.95],
        ['Jan', 50, 52, 74, 22, 2.95],
        ['Mar', 65, 48, 84, 25, 2.34],
        ['Apr', 67, 50, 92, 28, 1.02],
        ['May', 71, 53, 98, 35, 0.49],
        ['Jun', 75, 56, 107, 41, 0.1],
        ['Jul', 77, 58, 105, 44, 0.0],
        ['Aug', 77, 59,102, 43, 0.03],
        ['Sep', 77, 57, 103, 40, 0.17],
        ['Oct', 73, 54, 96, 34, 0.81],
        ['Nov', 64, 48, 84, 30, 1.7],
        ['Dec', 58, 42, 73, 21, 2.56]
    ],
    index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    columns = ['month', 'avg_high', 'avg_low', 'record_high', 'record_low', 'avg_precipitation']
)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        50       52           74          22               2.95
1    Jan        50       52           74          22               2.95
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.49
5    Jun        75       56          107          41               0.10
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

# Load Data By read_csv

In [14]:
df = pd.read_csv('weather_data.txt')

In [15]:
df

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        50       52           74          22               2.95
1    Jan        50       52           74          22               2.95
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.49
5    Jun        75       56          107          41               0.10
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

## .head() .tail()

In [16]:
df.head()

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        50       52           74          22               2.95
1   Jan        50       52           74          22               2.95
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.49

In [17]:
df.tail()

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

## .dtypes

In [21]:
df.dtypes

month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

## .index

In [22]:
df.index

RangeIndex(start=0, stop=12, step=1)

## .columns

In [23]:
df.columns

Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

## .values

In [24]:
df.values

array([['Jan', 50, 52, 74, 22, 2.95],
       ['Jan', 50, 52, 74, 22, 2.95],
       ['Mar', 65, 48, 84, 25, 2.34],
       ['Apr', 67, 50, 92, 28, 1.02],
       ['May', 71, 53, 98, 35, 0.49],
       ['Jun', 75, 56, 107, 41, 0.1],
       ['Jul', 77, 58, 105, 44, 0.0],
       ['Aug', 77, 59, 102, 43, 0.03],
       ['Sep', 77, 57, 103, 40, 0.17],
       ['Oct', 73, 54, 96, 34, 0.81],
       ['Nov', 64, 48, 84, 30, 1.7],
       ['Dec', 58, 42, 73, 21, 2.56]], dtype=object)

## Statistical View with .describe()

In [26]:
df.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   67.000000  52.416667    91.000000   32.083333           1.260000
std     9.945305   4.907477    12.763585    8.596599           1.177416
min    50.000000  42.000000    73.000000   21.000000           0.000000
25%    62.500000  49.500000    81.500000   24.250000           0.152500
50%    69.000000  52.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           2.950000

## Sort records by any column

## With .sort_values()

In [31]:
df.sort_values('record_high', ascending=False)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.10
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.49
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
0    Jan        50       52           74          22               2.95
1    Jan        50       52           74          22               2.95
11   Dec        58       42           73          21               2.56

## Slicing Records

In [33]:
print(df.avg_low)

0     52
1     52
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

In [34]:
print(df['avg_low'])

0     52
1     52
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

In [35]:
print(df['avg_low'][2:5])

2    48
3    50
4    53
Name: avg_low, dtype: int64

In [38]:
print(df[['avg_low', 'avg_high']])

    avg_low  avg_high
0        52        50
1        52        50
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58

In [41]:
print(df.loc[:, ['avg_low', 'avg_high']])

    avg_low  avg_high
0        52        50
1        52        50
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58

In [42]:
print(df.loc[9, ['avg_precipitation']])

avg_precipitation    0.81
Name: 9, dtype: object

In [43]:
print(df.iloc[3:5, [0,3]])

  month  record_high
3   Apr           92
4   May           98

## Filtering a One Column

In [44]:
print(df[df.avg_precipitation > 1.0])

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        50       52           74          22               2.95
1    Jan        50       52           74          22               2.95
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [45]:
print(df[df['month'].isin(['Jun', 'Jul', 'Aug'])])

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.10
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

## Very Similar To Slicing

In [46]:
df.loc[9, ['avg_precipitation']] = np.nan
print(df.iloc[9:11])

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34                NaN
10   Nov        64       48           84          30                1.7

In [47]:
df.loc[:, 'avg_low'] = np.array([5] * len(df))
print(df.head())

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        50        5           74          22               2.95
1   Jan        50        5           74          22               2.95
2   Mar        65        5           84          25               2.34
3   Apr        67        5           92          28               1.02
4   May        71        5           98          35               0.49

In [48]:
df['avg_day'] = (df.avg_low + df.avg_high) / 2
print(df.head)

<bound method NDFrame.head of    month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0    Jan        50        5           74          22               2.95
1    Jan        50        5           74          22               2.95
2    Mar        65        5           84          25               2.34
3    Apr        67        5           92          28               1.02
4    May        71        5           98          35               0.49
5    Jun        75        5          107          41               0.10
6    Jul        77        5          105          44               0.00
7    Aug        77        5          102          43               0.03
8    Sep        77        5          103          40               0.17
9    Oct        73        5           96          34                NaN
10   Nov        64        5           84          30               1.70
11   Dec        58        5           73          21               2.56

    avg_day
0      27.5
1      27.5
2      35.0
3      36.0
4      38.0
5      40.0
6      41.0
7      41.0
8      41.0
9      39.0
10     34.5
11     31.5  >

## Renaming Columns

In [50]:
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)

In [51]:
print(df.head())

  month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0   Jan        50        5           74          22      2.95     27.5
1   Jan        50        5           74          22      2.95     27.5
2   Mar        65        5           84          25      2.34     35.0
3   Apr        67        5           92          28      1.02     36.0
4   May        71        5           98          35      0.49     38.0

In [53]:
df.columns = ['month', 'av_hi', 'av_lo', 'rec_hi', 'rec_lo', 'av_rain', 'av_day']

In [54]:
print(df.head())

  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan     50      5      74      22     2.95    27.5
1   Jan     50      5      74      22     2.95    27.5
2   Mar     65      5      84      25     2.34    35.0
3   Apr     67      5      92      28     1.02    36.0
4   May     71      5      98      35     0.49    38.0

## Iterating Thorugh

In [57]:
for index, row in df.iterrows():
    print(index, row['month'], row['av_hi'])

0 Jan 50
1 Jan 50
2 Mar 65
3 Apr 67
4 May 71
5 Jun 75
6 Jul 77
7 Aug 77
8 Sep 77
9 Oct 73
10 Nov 64
11 Dec 58

## Write to CSV File

In [58]:
df.to_csv('foo.csv')