In [25]:
from sklearn import svm
import pandas as pd
import math
import os

In [27]:
print(os.listdir())
data = pd.read_excel('./data1.xlsx')
type(data)
data.head()

['data1.xlsx', 'PIL1.ipynb', 'Ex2.ipynb', 'MatTut1.ipynb', 'data.txt', 'Untitled1.ipynb', 'Untitled.ipynb', 'Ex1.ipynb', '.~lock.data1.xlsx#', '.ipynb_checkpoints']

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breaths,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

# Preprocess Data

In [28]:
from sklearn.model_selection import train_test_split

In [42]:
all_x = data.iloc[:, 1:4]
all_y = data.iloc[:, 4]

x_train, x_test, y_train, y_test = train_test_split(all_x, all_y)

In [43]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(4, 3) (2, 3) (4,) (2,)

# Train and Evaluate the model

In [44]:
clf = svm.SVC()
clf.fit(x_train, y_train)

/home/sandaru/.local/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [45]:
clf.score(x_test, y_test)

1.0

In [50]:
clf.predict(x_test[:])

array([1, 1])

In [51]:
y_test[:]

3    1
5    1
Name: milk, dtype: int64